<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>ru.svvoff.convinient.convinientStructure_DefinitionLanguage</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>PresentationLayer</string>
								<string>UserStories</string>
								<string>ViewController</string>
								<string>Modules</string>
								<string>ViewController</string>
							</array>
						</dict>
						<key>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>PresentationLayer</string>
								<string>UserStories</string>
								<string>ViewController</string>
								<string>Modules</string>
								<string>ViewController</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.h:comments</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.h:imports:importCocoa</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.m:comments</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.m:imports:importHeader:ViewController.h</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.m:extension</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>PresentationLayer</string>
								<string>UserStories</string>
								<string>ViewController</string>
								<string>Modules</string>
								<string>ViewController</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.swift:comments</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.swift:imports:importCocoa</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>Classes/PresentationLayer/UserStories/ViewController/Modules/ViewControllerViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
