<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>ru.svvoff.convenient.convinientBase_Options</string>
	<key>Definitions</key>
	<dict>
		<key>*:pod</key>
		<dict>
			<key>Beginning</key>
			<string></string>
			<key>End</key>
			<string></string>
		</dict>
		<key>*:pod:target</key>
		<dict>
			<key>Indent</key>
			<integer>1</integer>
			<key>Beginning</key>
			<string>target &apos;___PACKAGENAMEASIDENTIFIER___&apos; do</string>
			<key>End</key>
			<string>
end
</string>
		</dict>
		<key>*:pod:target:child:*</key>
		<dict>
			<key>Beginning</key>
			<string> target &apos;___*___&apos; do   inherit! :search_paths</string>
			<key>End</key>
			<string> end</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>*:pod:target:frameworks</key>
		<dict>
			<key>Beginning</key>
			<string></string>
			<key>End</key>
			<string></string>
		</dict>
		<key>*:pod:target:frameworks:objc</key>
		<dict>
			<key>Beginning</key>
			<string># Uncomment the next line if you&apos;re using Swift or would like to use dynamic frameworks
# use_frameworks!</string>
			<key>End</key>
			<string>
# Pods for ___PACKAGENAMEASIDENTIFIER___</string>
		</dict>
		<key>*:pod:target:frameworks:swift</key>
		<dict>
			<key>Beginning</key>
			<string># Comment the next line if you&apos;re not using Swift and don&apos;t want to use dynamic frameworks
use_frameworks!</string>
			<key>End</key>
			<string>
# Pods for ___PACKAGENAMEASIDENTIFIER___</string>
		</dict>
		<key>*:pod:comments</key>
		<string># Uncomment the next line to define a global platform for your project
# platform :ios, &apos;9.0&apos; </string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>carthage</string>
			<key>Name</key>
			<string>Use Carthage</string>
			<key>Description</key>
			<string>Whether the application should create Cartfile</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>../Cartfile</string>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>cocoaPods</string>
			<key>Name</key>
			<string>Use Cocoa Pods</string>
			<key>Description</key>
			<string>Whether the application should create Podfile</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Options</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>languageChoice</string>
								<key>Units</key>
								<dict>
									<key>Objective-C</key>
									<dict>
										<key>Nodes</key>
										<array>
											<string>../Podfile:pod:target:frameworks:objc</string>
										</array>
									</dict>
									<key>Swift</key>
									<dict>
										<key>Nodes</key>
										<array>
											<string>../Podfile:pod:target:frameworks:swift</string>
										</array>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Identifier</key>
								<string>hasUITests</string>
								<key>Units</key>
								<dict>
									<key>true</key>
									<array>
										<dict>
											<key>Nodes</key>
											<array>
												<string>../Podfile:pod:target:child:___PACKAGENAME___UITests</string>
											</array>
										</dict>
									</array>
								</dict>
							</dict>
							<dict>
								<key>Identifier</key>
								<string>hasUnitTests</string>
								<key>Units</key>
								<dict>
									<key>true</key>
									<array>
										<dict>
											<key>Nodes</key>
											<array>
												<string>../Podfile:pod:target:child:___PACKAGENAME___Tests</string>
											</array>
										</dict>
									</array>
								</dict>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>../Podfile:pod:comments</string>
							<string>../Podfile:pod:target:frameworks</string>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>generamba</string>
			<key>Name</key>
			<string>Use Generamba</string>
			<key>Description</key>
			<string>Whether the application should create Rambafile</string>
			<key>SortOrder</key>
			<integer>3</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Options</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>hasUnitTests</string>
								<key>Units</key>
								<dict>
									<key>true</key>
									<array>
										<dict>
											<key>Nodes</key>
											<array/>
										</dict>
									</array>
								</dict>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>../Rambafile</string>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
