<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>ru.svvoff.convenient.application</string>
	<key>Ancestors</key>
	<array>
		<string>ru.svvoff.convenient.convinientStructure_DefinitionLanguage</string>
		<string>ru.svvoff.convenient.convinientBase_Definitions</string>
		<string>ru.svvoff.convenient.storyboardApplication</string>
		<string>ru.svvoff.convenient.coreDataCocoaTouchApplication</string>
		<string>ru.svvoff.convenient.convinientBase_Options</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Definitions</key>
	<dict>
		<key>Classes/PresentationLayer/Main.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>PresentationLayer</string>
			</array>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>
