<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>ru.svvoff.convinient.convinientBase_Definitions</string>
	<key>Nodes</key>
	<array>
		<string>Classes/ApplicationLayer</string>
		<string>Classes/BussinessLogicLayer</string>
		<string>Classes/Constants</string>
		<string>Classes/CoreLayer</string>
		<string>Classes/Extensions</string>
		<string>Classes/Helpers</string>
		<string>Classes/Models</string>
		<string>Classes/PresentationLayer</string>
		<string>Resources/Strings</string>
		<string>Resources/Plists</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Classes/PresentationLayer</key>
		<dict>
			<key>Path</key>
			<string>empty</string>
			<key>Group</key>
			<string>Classes</string>
		</dict>
		<key>Classes/Models</key>
		<dict>
			<key>Path</key>
			<string>empty</string>
			<key>Group</key>
			<string>Classes</string>
		</dict>
		<key>Classes/Helpers</key>
		<dict>
			<key>Path</key>
			<string>empty</string>
			<key>Group</key>
			<string>Classes</string>
		</dict>
		<key>Classes/Extensions</key>
		<dict>
			<key>Path</key>
			<string>empty</string>
			<key>Group</key>
			<string>Classes</string>
		</dict>
		<key>Classes/CoreLayer</key>
		<dict>
			<key>Path</key>
			<string>empty</string>
			<key>Group</key>
			<string>Classes</string>
		</dict>
		<key>Classes/Constants</key>
		<dict>
			<key>Path</key>
			<string>empty</string>
			<key>Group</key>
			<string>Classes</string>
		</dict>
		<key>Classes/BussinessLogicLayer</key>
		<dict>
			<key>Path</key>
			<string>empty</string>
			<key>Group</key>
			<string>Classes</string>
		</dict>
		<key>Classes/ApplicationLayer</key>
		<dict>
			<key>Path</key>
			<string>empty</string>
			<key>Group</key>
			<string>Classes</string>
		</dict>
		<key>Resources/Plists</key>
		<dict>
			<key>Path</key>
			<string>empty</string>
			<key>Group</key>
			<string>Resources</string>
		</dict>
		<key>Resources/Strings</key>
		<dict>
			<key>Path</key>
			<string>empty</string>
			<key>Group</key>
			<string>Resources</string>
		</dict>
	</dict>
</dict>
</plist>
