<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>ru.svvoff.convinient.base</string>
	<key>Ancestors</key>
	<array>
		<string>ru.svvoff.convinient.base_DefinitionsLanguage</string>
		<string>ru.svvoff.convinient.base_DefinitionsInfoPlist</string>
		<string>ru.svvoff.convinient.base_ProjectSettings</string>
		<string>ru.svvoff.convinient.base_Options</string>
	</array>
</dict>
</plist>
